.profileWrapper {
    text-align: center;
    width: 100%;
    max-width: 92vw;
    margin: 3vw auto;
    padding: 1vw;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 10vw; 
    padding: 2vw;
    max-width: 92vw;
    margin: auto;

    flex-wrap: wrap; 
}


.profileTitle {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.profileDivider {
    width: 80%;
    margin: 0.5vw auto 1vw auto;
    border: 1px solid #5f68e6;
}

.profileHeader {
    flex: 1;
    max-width: 30vw;
    text-align: center;
    font-size: 1.4rem;

    width: fit-content;

    margin-left: auto;
    margin-right: auto;
}

.profileHeader h3 {
    font-size: 3rem; 
}

.profileHeader button {
    font-size: 1.2rem;
    padding: 1vw 2vw;
}


.friendsSection, .pendingRequestsSection {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    border: 1px solid #ddd;
    padding: 10px;
}

.friendsSection, .pendingRequestsSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    min-width: 45%;
}

.friendsList, .pendingRequestsList {
    overflow-y: auto;
    max-height: 180px;
    padding-right: 5px;
}

.friendItem, .pendingRequestItem {
    display: flex;
    align-items: center; 
    gap: 1vw;

    justify-content: space-between; 
    width: 100%;

    padding: 0.2vw 0.2vw;

    flex-wrap: nowrap;
}



.friendRequests {
    flex: 1; 
    margin-left: auto;
    margin-right: auto;
    
}

.sendRequestContainer button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 3vw;
    width: auto;
    max-width: 90%;
    font-size: 1.2rem;

    padding: 1vw 2vw;

    background-color: #d0ccccd8;
    color: #5584db;
}

.profileImg {
    max-width: 15vw;
    max-height: 15vw;
    border-radius: 50%;
    margin-bottom: 1vw;

    width: auto;
    height: auto;
}


.friendImg {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.friendActions {
    display: flex;
    gap: 0.5vw;

    margin-left: auto;
    flex-shrink: 0;
}

.searchResults {
    position: absolute;
    width: 100%;
    min-width: inherit; 
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
}

.sendRequestContainer {
    position: relative;
}

input[type="text"] {
    width: 100%;
}

.searchResults ul {
    margin: 0;
    padding: 0;
}

.searchResults li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.searchResults li:hover {
    background: #f7f7f7;
}
